.cartIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        width: 40px;
        height: 40px;
        margin: 0;
    }
    span {
        position: relative;
        top: 5px;
        text-align: center;
        color: white;
    }
}