.header {
    height: 80px;
    background: darkred;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem;
}

.cartIcon {
    span {

    }
}