.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  & > div {
    position: relative;
    max-width: 700px;
    margin: 3%;
    padding: 3%;
    background-color: white;
  }
}

.modalContainer {
  position: relative;
}

.modalExit {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  color: black;
  text-decoration: none;
}
