.product {
  width: 100%;
  position: relative;
  padding: 0 25px 25px;
  @media (min-width: 640px) {
    flex-basis: 50%;
  }
}

.price {
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: green;
  color: white;
}

.name {
  text-align: center;
  background-color: bisque;
  color: brown;
}

.cartBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 0 5px;
  }
}

.quantityWrapper {
  margin: 0 25px;
}

.link {
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  text-decoration: none;
}
